.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: center;
   &:first-child {
    display: flex;
    align-items: center;
  }
}

.fff{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }
 .plan{
    padding: 30px ;
  }
 .containerr {
    display: block;
 }
   .aaa{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
   }
  .pip{
    justify-content: center;
    margin-left: 93px;
    margin-right: 93px;
  }
  .infa{
    display: inline-flex;
    gap: 12px;
  } 
  .victor{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .onix{
    position: relative;
    overflow: hidden;
  }
  .otoplenie {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 24px;
  }
  .cntainer {
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .modal{
    box-sizing: border-box;
    padding: 40px;
   background-color: var(--color3);
   border-radius: 4px;
   width: 528px;
   min-height: 581px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) ;
  }
  .backdrop {
    position: fixed;
    top: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.2);
  }  
  .is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    }
    .bios{
      justify-content: center;
      background-color: var(--color7); 
      height: 120px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
     }    